
.header{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(185, 153, 192);
  color: white;
}

.header ul{
  display: flex;
  list-style: none;
  font-family: tahoma;
  font-weight: 700;
}

.header ul li{
  margin-right: 250px;
}

